<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
    <div class="sidebar-item">
        <p>{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
        <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>

        {% assign pages_list = site.pages | sort:"url" %}
        {% for node in pages_list %}
            {% if node.title != null %}
                {% if node.layout == "page" %}
                    <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
    </nav>

    <div class="sidebar-item">
        <p>
            &copy; {{ site.time | date: '%Y' }}. <a href="mailto:hi@chapay.com">Andrey Sobkanyuk</a>
        </p>
        <ul class="social">
            <li><i class="fa fa-rss"></i>&nbsp;<a href="{{ site.social.rss }}">RSS</a></li>
            <li><i class="fa fa-github"></i>&nbsp;<a href="{{ site.social.github }}">GitHub</a></li>
            <li><i class="fa fa-stack-overflow"></i>&nbsp;<a href="{{ site.social.stackoverflow }}">Stackoverflow</a></li>
            <li><i class="fa fa-linkedin"></i>&nbsp;<a href="{{ site.social.linkedin }}">LinkedIn</a></li>
            <li><i class="fa fa-twitter"></i>&nbsp;<a href="{{ site.social.twitter }}">Twitter</a></li>
        </ul>
    </div>
</div>
